@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(180.35deg, #FDE48A 0.31%, #EEAB1D 19.13%, #AC5A00 62.15%, #A94700 99.25%);
}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: black;

}

img{
    width: 800px;
    height: 600px;
    justify-content: center;
}

a{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    border: white solid 15px;
    border-radius: 20px;
    background-color: white;
}

.penteado{
    transform: translateX(0px);
    animation: float 6s ease-out infinite;

}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
}

#carg  {
    display: flex;
    text-align: center;
    gap: 130px ;
    justify-content: center;
}

.pentea{
    border: white solid 15px;
    background-color: white;
}